In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [3]:
price_data = pd.read_csv('crypto_price_90days.csv')
gas_fee_data = pd.read_csv('gas_fee_90days.csv')

In [18]:
price_data.head(5)

   UNIX Timestamp         Timestamp  Bitcoin Price (USD)  Ethereum Price (USD)
0    1.660000e+12  2022-09-12 10:01          22195.69118           1750.655946
1    1.660000e+12  2022-09-12 11:03          22180.53379           1746.531098
2    1.660000e+12  2022-09-12 12:04          22292.74291           1751.864674
3    1.660000e+12  2022-09-12 13:01          22359.17007           1747.678093
4    1.660000e+12  2022-09-12 14:03          22391.44726           1752.387514

In [19]:
#gas_fee_data = gas_fee_data[::-1].reset_index(drop = True)
gas_fee_data.head(5)

,gasPrice/open,gasPrice/close,gasPrice/low,gasPrice/high,avgGas,timestamp
0,5.99,9.68,4.25,16.92,92232.94520,2022-09-12T10:00:01.499Z
1,52.97,5.54,4.13,56.33,88143.43827,2022-09-12T11:00:03.234Z
2,20.00,50.99,10.66,56.16,82982.46142,2022-09-12T12:00:04.915Z
3,18.26,26.96,13.32,37.13,84544.98935,2022-09-12T13:00:06.988Z
4,30.83,16.97,12.73,91.76,89251.97150,2022-09-12T14:00:10.398Z

In [11]:
len(price_data), len(gas_fee_data)

(2155, 2158)

In [20]:
gas_fee_data.tail()

,gasPrice/open,gasPrice/close,gasPrice/low,gasPrice/high,avgGas,timestamp
2153,14.0250,13.8917,12.0,18.1021,168185.2084,2022-12-11T05:11:29.149Z
2154,15.8727,14.7151,12.0,20.0906,148300.0867,2022-12-11T06:11:34.246Z
2155,13.7252,15.1617,12.5,16.8638,116432.2229,2022-12-11T07:11:38.131Z
2156,14.3368,15.0955,12.2,16.6647,126479.5341,2022-12-11T08:11:42.738Z
2157,14.5663,15.2801,12.1,18.4967,153849.0345,2022-12-11T09:11:47.053Z

In [21]:
price_data.tail()

,UNIX Timestamp,Timestamp,Bitcoin Price (USD),Ethereum Price (USD)
2150,1.670000e+12,2022-12-11 6:00,17177.26840,1273.466338
2151,1.670000e+12,2022-12-11 7:01,17182.10721,1274.061867
2152,1.670000e+12,2022-12-11 8:01,17188.39360,1275.846801
2153,1.670000e+12,2022-12-11 9:00,17187.42631,1275.330135
2154,1.670000e+12,2022-12-11 9:40,17174.48064,1276.717978

In [24]:
pd.set_option('display.max_rows', 10)

In [25]:
price_data

,UNIX Timestamp,Timestamp,Bitcoin Price (USD),Ethereum Price (USD)
0,1.660000e+12,2022-09-12 10:01,22195.69118,1750.655946
1,1.660000e+12,2022-09-12 11:03,22180.53379,1746.531098
2,1.660000e+12,2022-09-12 12:04,22292.74291,1751.864674
3,1.660000e+12,2022-09-12 13:01,22359.17007,1747.678093
4,1.660000e+12,2022-09-12 14:03,22391.44726,1752.387514
...,...,...,...,...
2150,1.670000e+12,2022-12-11 6:00,17177.26840,1273.466338
2151,1.670000e+12,2022-12-11 7:01,17182.10721,1274.061867
2152,1.670000e+12,2022-12-11 8:01,17188.39360,1275.846801
2153,1.670000e+12,2022-12-11 9:00,17187.42631,1275.330135
2154,1.670000e+12,2022-12-11 9:40,17174.48064,1276.717978